<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.2" name="Network_Image_Installer">
	<description type="system">
		<author>Matthias Hopf</author>
		<contact>mat@mshopf.de</contact>
		<specification>Network image installer</specification>
	</description>
	<preferences>
<!-- <oem-swapsize>512</oem-swapsize> -->
<!-- default: usb image -->
<!-- <type image="split" fsreadwrite="ext3" fsreadonly="squashfs" fsnocheck="true" boot="oemboot/suse-11.3" lvm="true"> -->
		<type primary="true" image="split" fsreadwrite="ext3" fsreadonly="squashfs" fsnocheck="true" boot="oemboot/suse-11.4">
			<!--<size unit="M">100</size>-->
			<oemconfig>
				<oem-boot-title>Network Image Installer</oem-boot-title>
			</oemconfig>
			<split>
				<temporary>
					<file name="/etc"/>
					<file name="/etc/*"/>
					<except name="/etc/init.d/boot.local"/>
					<except name="/etc/init.d/firstboot"/>
					<except name="/etc/zypp/*"/>
					<except name="/etc/ImageVersion"/>
					<file name="/mnt"/>
					<file name="/mnt/*"/>
					<file name="/tmp"/>
					<file name="/tmp/*"/>
					<file name="/var"/>
					<file name="/var/*"/>
				</temporary>
				<persistent>
					<file name="/boot"/>
					<file name="/boot/*"/>
					<file name="/root"/>
					<file name="/root/*"/>
					<file name="/inst/*"/>
					<file name="/etc/init.d/boot.local"/>
					<file name="/etc/init.d/firstboot"/>
					<file name="/etc/zypp/*"/>
					<file name="/etc/ImageVersion"/>
				</persistent>
			</split>
			<systemdisk name="niiVG"/>
		</type>
<!-- addon: iso image -->
		<type image="iso" flags="clic" boot="isoboot/suse-11.4"><!-- <size>100</size> --></type>
		<version>2.5.0</version>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-force>false</rpm-force>
		<rpm-excludedocs>true</rpm-excludedocs>
		<locale>en_US</locale>
		<boot-theme>openSUSE</boot-theme>
	</preferences>
	<users group="root">
		<user name="root" shell="/bin/bash" pwd="$1$3t3vqXtz$5vCuNgQzOYDy3JfSalKjZ." home="/root"/>
	</users>
	<packages patternType="onlyRequired" type="image">
		<package name="aaa_base"/>
		<package name="autofs"/>
		<package name="bash"/>
		<package name="bind-utils"/>
		<package name="bootsplash-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="bzip2"/>
		<package name="coreutils"/>
		<package name="cpio"/>
		<package name="curl"/>
		<package name="dhcpcd"/>
		<package name="dialog"/>
		<package name="diffutils"/>
		<package name="e2fsprogs"/>
		<package name="elfutils"/>
		<package name="ethtool"/>
		<package name="file"/>
		<package name="filesystem"/>
		<package name="fillup"/>
		<package name="findutils"/>
		<package name="gawk"/>
		<package name="gfxboot-branding-openSUSE" bootinclude="true" bootdelete="true"/>
		<package name="glibc"/>
		<package name="gpg2"/>
		<package name="grep"/>
		<package name="grub"/>
		<package name="gzip"/>
		<package name="hwinfo"/>
		<package name="info"/>
		<package name="insserv"/>
		<package name="iproute2"/>
		<package name="iputils"/>
		<package name="kbd"/>
		<package name="kernel-default"/>
		<package name="kexec-tools"/>
		<package name="klogd"/>
		<package name="less"/>
		<package name="libadns1"/>
		<package name="libasm1"/>
		<package name="libblkid1"/>
		<package name="libbz2-1"/>
		<package name="libelf1"/>
		<package name="libexpat1"/>
		<package name="libext2fs2"/>
		<package name="libgcc45"/>
		<package name="libgcrypt11"/>
		<package name="libgio-2_0-0"/>
		<package name="libglib-2_0-0"/>
		<package name="libgmodule-2_0-0"/>
		<package name="libgobject-2_0-0"/>
		<package name="libgpg-error0"/>
		<package name="libgssglue1"/>
		<package name="libgthread-2_0-0"/>
		<package name="libksba"/>
		<package name="libldap-2_4-2"/>
		<package name="libltdl7"/>
		<package name="liblua5_1"/>
		<package name="liblzma5"/>
		<package name="libncurses5"/>
		<package name="libncurses6"/>
		<package name="libnscd"/>
		<package name="libopenct1"/>
		<package name="libopenssl0_9_8"/>
		<package name="libpcre0"/>
		<package name="libpolkit0"/>
		<package name="libpopt0"/>
		<package name="libpth20"/>
		<package name="libreadline6"/>
		<package name="libselinux1"/>
		<package name="libtirpc1"/>
		<package name="libusb-0_1-4"/>
		<package name="libusb-1_0-0"/>
		<package name="libuuid1"/>
		<package name="libx86emu1"/>
		<package name="libxcrypt"/>
		<package name="libzio"/>
		<package name="login"/>
		<package name="logrotate"/>
		<package name="lsof"/>
		<package name="lvm2"/>
		<package name="lynx"/>
		<package name="mdadm"/>
		<package name="mingetty"/>
		<package name="mkinitrd"/>
		<package name="module-init-tools"/>
		<package name="ncurses-utils"/>
		<package name="net-tools"/>
		<package name="netcat"/>
		<package name="netcfg"/>
		<package name="nfs-client"/>
		<package name="nfsidmap"/>
		<package name="openslp"/>
		<package name="openssh"/>
		<package name="openSUSE-build-key"/>
		<package name="pam"/>
		<package name="pam-config"/>
		<package name="pam-modules"/>
		<package name="pciutils"/>
		<package name="pciutils-ids"/>
		<package name="pcre"/>
		<package name="perl-Bootloader"/>
		<package name="perl-base"/>
		<package name="permissions"/>
		<package name="procps"/>
		<package name="psmisc"/>
		<package name="pwdutils"/>
		<package name="rpcbind"/>
		<package name="rpm"/>
		<package name="sed"/>
		<package name="setserial"/>
		<package name="strace"/>
		<package name="sysconfig"/>
		<package name="syslog-ng"/>
		<package name="sysvinit"/>
		<package name="tar"/>
		<package name="tcpdump"/>
		<package name="tcpd"/>
		<package name="terminfo-base"/>
		<package name="udev"/>
		<package name="update-alternatives"/>
		<package name="util-linux"/>
		<package name="vim"/>
		<package name="wget"/>
		<package name="ypbind"/>
		<package name="zlib"/>
<!-- wireless related -->
		<package name="atmel-firmware"/>
		<package name="ipw-firmware"/>
		<package name="kernel-firmware"/>
		<package name="rfkill"/>
		<package name="wireless-tools"/>
		<package name="wireshark"/>
		<package name="wpa_supplicant"/>
		<package name="zd1211-firmware"/>
	</packages>
	<packages type="delete">
		<package name="glibc-locale"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
	</packages>
	<repository type="yast2">
		<source path="http://download.opensuse.org/distribution/11.4/repo/oss/"/>
		<!--<source path="http://download.opensuse.org/factory-tested/repo/oss/"/>-->
	</repository>
</image>
